/*=======ШРИФТЫ_СБРОС=======*/
@font-face {
  font-family: open-sans-r;
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans-b;
  src: url(../fonts/OpenSans-Bold.woff) format("woff"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.ttf) format("ttf");
  font-weight: 400;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
}

.container-center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*=======HEADER=======*/
.header {
  position: relative;
  z-index: 0;
  padding-top: 30px;
  padding-bottom: 126px;
  font-family: open-sans-r, sans-serif;
  background-image: url("../images/banner-bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #666666;
  background-size: cover;
}

.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.header-top {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
}

.header-menu-button {
  display: none;
  background-image: url(../svg/menu-button2.svg);
  width: 23px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list-item {
  color: #ffffff;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link {
  font-family: open-sans-r, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.logo-mobile {
  display: none;
}

.header-intro {
  max-width: 720px;
  margin: 98px auto 0 auto;
  font-family: open-sans-b, sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 75px;
}

/*=======TRENDS=======*/

.trends {
  max-width: 100%;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

.trends-header {
  margin: 0;
  font-family: open-sans-b, sans-serif;
  font-size: 19px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.trends-header::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.trends-card-container {
  display: flex;
  margin-top: 30px;
}

.trends-card {
  width: 100%;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  max-width: calc((100% - 12px) / 4);
  height: 319px;
  padding: 0 18px 18px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

.garden-card {
  background-image: url(../images/trend1.jpg);
}

.cheese-card {
  background-image: url(../images/trend2.jpg);
}

.travel-card {
  background-image: url(../images/trend3.jpg);
}

.lemon-card {
  background-image: url(../images/trend4.jpg);
}

.trends-card::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trends-card:nth-child(n + 2) {
  margin-left: 4px;
}

.text-card-container {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 39px 0 23px 33px;
}

.card-tegs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-tegs-item:not(:last-child) {
  margin-right: 19px;
}

.card-tegs-link {
  display: block;
  font-family: open-sans-b, sans-serif;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.card-tegs-item:hover {
  text-decoration: underline;
}

.card-title {
  margin-top: 5px;
}

.card-title-link {
  font-family: open-sans-b;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.2;
}

.card-title-link:hover {
  color: #b59f5b;
}

/*=======MAIN_ASIDE=======*/

.main-container {
  display: flex;
  max-width: 1170px;
  margin-top: 60px;
  margin-bottom: 59px;
  justify-content: space-between;
  background-color: white;
}

.news {
  max-width: 778px;
}

.news-article {
  display: flex;
}

.news-article:nth-child(n + 2) {
  margin-top: 57px;
}

.news-img-link {
  max-width: 381px;
}

.news-img {
  background-color: #8acab5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-description {
  margin-left: 30px;
  max-width: 367px;
}

.news-tegs {
  display: flex;
  margin: 0;
  padding: 0;
}

.news-tegs-item {
  list-style-type: none;
}

.news-tegs-item:not(:last-child) {
  margin-right: 19px;
}

.news-tegs-link {
  display: block;
  font-family: open-sans-b, sans-serif;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.news-tegs-item:hover {
  text-decoration: underline;
}

.news-title {
  margin-top: 5px;
}

.news-title-link {
  font-family: open-sans-b;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  line-height: 1.2;
}

.news-title-link:hover {
  color: #b59f5b;
}

.news-inf {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  margin-top: 24px;
}

.news-inf-data {
  display: block;
  margin-right: 12px;
  font-family: open-sans-r;
  font-size: 12px;
  color: #989898;
}

.news-inf-author {
  display: block;
  font-family: open-sans-b;
  font-size: 12px;
  color: #000000;
}

.news-content {
  font-family: open-sans-r;
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
}

.sidebar {
  width: 270px;
}

.post-title {
  margin: 0;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-post-title {
  margin-bottom: 30px;
}

.post-title::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.post-list {
  display: flex;
  margin-bottom: 12px;
}

.img-link {
  width: 70px;
  height: auto;
  padding-top: 6px;
}

.post-list-description {
  margin-left: 22px;
}

.description-data {
  font-family: open-sans-r, sans-serif;
  font-size: 11px;
  color: #7e7e7e;
}

.description-title {
  margin: 0;
  padding-top: 3px;
  font-family: open-sans-b, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.2;
}

.description-title-link {
  color: #000000;
  text-decoration: none;
}

.description-title-link:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  margin-top: 54px;
  justify-content: space-between;
}

.search-label {
  flex-grow: 1;
}

.search-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 10px 0 16px;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  color: #828383;
}

.search-button {
  flex-shrink: 0;
  width: 46px;
  height: 48px;
  padding: 0;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
  background-size: 18px;
  border: none;
}

.search-button:hover {
  background-color: #313131;
}

.subscribe {
  margin-top: 58px;
}

.subscribe-post-title {
  margin-bottom: 29px;
}

.input {
  position: relative;
  bottom: 6px;
}

.mail-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 10px 0 16px;
  border: none;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  color: #707171;
  background-color: #f4f7f6;
}

.mail-button {
  display: block;
  width: 100%;
  height: 48px;
  margin-top: 18px;
  border: none;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
}

.mail-button:hover {
  background-color: #313131;
}

.tags {
  margin-top: 51px;
}

.tags-block {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.tags-block-item {
  margin: 8px 8px 0 0;
}

.tags-block-link {
  display: block;
  padding: 3px 12px;
  border: 3px solid #ededed;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.tags-block-link:hover {
  border: 3px solid #b59f5b;
}

.categories {
  margin-top: 58px;
}

.categories-post-title {
  margin-bottom: 23px;
}

.categories-list {
  margin: 0;
  padding: 0;
}

.categories-list-item {
  display: flex;
  padding: 2px 3px 11px 0;
  margin-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}

.item-link {
  display: block;
  margin-right: 2px;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.item-link:hover {
  color: #b59f5b;
}

.item-count {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=======SHOP=======*/

.shop {
  max-width: 1200px;
  margin-bottom: 92px;
}

.shop-header {
  margin: 0;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.shop-header::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.shop-card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 26px 41px 0;
}

.shop-card {
  max-width: calc((100% - 228px) / 3);
  display: flex;
  flex-direction: column;
}

.shop-img {
  width: 100%;
}

.shop-description {
  flex-grow: 1;
  box-sizing: border-box;
  outline: 3px solid rgba(181, 159, 91, 0.6);
  outline-offset: 24px;
}

.shop-title {
  margin-top: 26px;
  margin-bottom: 5px;
  font-family: open-sans-b;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  line-height: 1.2;
}

.shop-text {
  margin-bottom: 20px;
  font-family: open-sans-r;
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
}

.shop-text-link {
  color: #b59f5b;
  text-decoration: none;
}

.shop-text-link:hover {
  text-decoration: underline;
}

.price-button-container {
  display: flex;
  justify-content: space-between;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.old-price {
  display: block;
  text-decoration: line-through;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  margin-bottom: -5px;
}

.new-price {
  display: block;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
}

.shop-button {
  text-align: center;
  line-height: 48px;
  display: block;
  width: 140px;
  height: 48px;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
}

.shop-button:hover {
  background-color: #313131;
  cursor: pointer;
}

/*=======FOOTER=======*/

.footer {
  max-width: 1200px;
  padding-bottom: 10px;
}

.socials {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 71px;
  background-color: #f4f7f6;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 31px 0;
  justify-content: center;
  list-style-type: none;
}

.socials-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list-item:not(:last-child) {
  margin-right: 27px;
}

.link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.commercial {
  margin: 0;
  text-align: center;
}

.commercial-link {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #999999;
}

/*=======POPUP=======*/

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}

.popup-form {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 390px;
  background-color: white;
  padding: 53px 30px;
}

.popup-title {
  margin: 0;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 44px;
}

.popup-title::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.popup-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.popup-select-title {
  margin-bottom: 9px;
  font-size: 13px;
  font-family: open-sans-r, sans-serif;
}

.popup-select-list {
  display: block;
  box-sizing: border-box;
  background-color: #f3f7f5;
  height: 48px;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  opacity: 0.541;
  padding-left: 18px;
  border: none;
  border-radius: 0;
  background-image: url(../svg/form-arrows.svg);
  background-size: 9px 17px;
  background-repeat: no-repeat;
  background-position: right 14px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup-select-list:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.popup-select-list:hover {
  cursor: pointer;
}

.popup-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.popup-radio-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-family: open-sans-r, sans-serif;
}

.radio-button-container {
  font-size: 13px;
  font-family: open-sans-r, sans-serif;
  display: flex;
}

.label-radio-button {
  display: flex;
  margin-right: 10px;
}

.radio-button {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.radio-button + .label-radio-button:before {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 7px;
}

.radio-button:checked + .label-radio-button:before {
  background-image: url(../svg/form-circle.svg);
}

.label-radio-button:hover {
  cursor: pointer;
}

.popup-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.popup-input-label {
  font-size: 13px;
  font-family: open-sans-r, sans-serif;
  margin-bottom: 12px;
}

.popup-input-textarea {
  box-sizing: border-box;
  height: 130px;
  background-color: #f3f7f5;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  opacity: 0.541;
  padding-top: 22px;
  padding-left: 22px;
  border: none;
  resize: none;
}

.popup-input-textarea:focus {
  outline: 1px solid #b59f5b;
}

.popup-button {
  display: block;
  height: 48px;
  border: none;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
}

.popup-button:hover {
  background-color: #313131;
  cursor: pointer;
}

.popup-close {
  position: absolute;
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-x.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  top: -25px;
  right: 0;
  border: none;
  background-color: transparent;
}

.popup-close:hover {
  cursor: pointer;
}

/*=======MEDIA-TABLET=======*/

@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {
  .container-center {
    padding-right: 35px;
    padding-left: 35px;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    padding-top: 43px;
    padding-bottom: 114px;
  }

  .header-logo {
    width: 158px;
  }

  .header-menu {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .header-intro {
    max-width: 604px;
    font-size: 38px;
    line-height: 55px;
    margin-top: 84px;
  }

  .trends {
    margin-top: 45px;
  }

  .trends-header {
    font-size: 17px;
  }

  .trends-card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 20px;
  }

  .trends-card {
    max-width: calc((100% - 2px) / 2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    min-height: 247px;
  }

  .trends-card:nth-child(n + 2) {
    margin-left: 0;
  }

  .trends-card:nth-child(n + 3) {
    margin-top: 3px;
  }

  .card-title-link {
    font-size: 18px;
  }

  .main-container {
    justify-content: space-around;
    margin-top: 47px;
    margin-bottom: 47px;
  }

  .news {
    max-width: 100%;
    flex-grow: 1;
  }

  .news-article {
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }

  .news-article:nth-child(n + 2) {
    margin-top: 42px;
  }

  .news-img-link {
    max-width: 100%;
  }

  .news-description {
    margin-left: 0;
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid #eeeeee;
  }

  .news-title {
    margin-top: 12px;
  }

  .news-inf {
    margin-bottom: 27px;
    margin-top: 27px;
  }

  .news-title-link {
    font-size: 16px;
  }

  .sidebar {
    margin-left: 35px;
  }

  .shop-card-container {
    flex-wrap: wrap;
    padding: 29px 29px 0px;
  }

  .shop-header {
    font-size: 17px;
  }

  .shop-card {
    max-width: calc((100% - 68px) / 2);
  }

  .shop-card:nth-child(n + 3) {
    margin-top: 58px;
  }

  .shop-title {
    margin-top: 51px;
    margin-bottom: 6px;
    font-size: 16px;
  }

  .shop-text {
    font-size: 15px;
  }

  .popup-close {
    width: 28px;
    height: 28px;
    background-size: 28px;
    top: -35px;
  }

  .social-list {
    padding: 19px 0;
  }

  .socials {
    margin-bottom: 55px;
  }
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: landscape) {
  .container-center {
    padding-right: 35px;
    padding-left: 35px;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    padding-top: 43px;
    padding-bottom: 114px;
  }

  .header-logo {
    width: 158px;
  }

  .header-intro {
    font-size: 38px;
    margin-top: 84px;
  }

  .header-menu {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .header-intro {
    max-width: 604px;
    font-size: 40px;
    line-height: 55px;
  }

  .trends {
    margin-top: 45px;
  }

  .trends-header {
    font-size: 17px;
  }

  .trends-card-container {
    margin-top: 20px;
    padding-top: 20px;
  }

  .trends-card {
    min-height: 247px;
  }

  .card-title-link {
    font-size: 18px;
  }

  .main-container {
    justify-content: space-around;
    margin-top: 47px;
    margin-bottom: 47px;
  }

  .news {
    max-width: 100%;
    flex-grow: 1;
  }

  .news-article {
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }

  .news-article:nth-child(n + 2) {
    margin-top: 42px;
  }

  .news-img-link {
    max-width: 100%;
  }

  .news-description {
    margin-left: 0;
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid #eeeeee;
  }

  .news-title {
    margin-top: 12px;
  }

  .news-inf {
    margin-bottom: 27px;
    margin-top: 27px;
  }

  .news-title-link {
    font-size: 16px;
  }

  .sidebar {
    margin-left: 35px;
  }

  .shop-card-container {
    flex-wrap: wrap;
    padding: 29px 29px 0px;
  }

  .shop-header {
    font-size: 17px;
  }

  .shop-card {
    max-width: calc((100% - 68px) / 2);
  }

  .shop-card:nth-child(n + 3) {
    margin-top: 58px;
  }

  .shop-title {
    margin-top: 51px;
    margin-bottom: 6px;
    font-size: 16px;
  }

  .shop-text {
    font-size: 15px;
  }

  .popup-close {
    width: 28px;
    height: 28px;
    background-size: 28px;
    top: -35px;
  }

  .social-list {
    padding: 19px 0;
  }

  .socials {
    margin-bottom: 55px;
  }
}

/*=======MEDIA-MOBILE=======*/

@media (max-width: 640px) and (orientation: portrait) {
  .container-center {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding-bottom: 211px;
    padding-top: 30px;
  }

  .header-top {
    justify-content: end;
  }

  .header-menu {
    display: none;
  }

  .header-logo {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .logo-mobile {
    margin: 171px auto 33px;
    display: block;
    max-width: 269px;
    height: 61px;
  }

  .header-intro {
    margin-top: 0;
    max-width: 277px;
    font-size: 24px;
    line-height: 36px;
  }

  .trends {
    margin-top: 40px;
  }

  .trends-header {
    font-size: 15px;
  }

  .trends-card-container {
    flex-wrap: wrap;
  }

  .trends-card {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 233px;
  }

  .trends-card:nth-child(1n + 2) {
    margin-left: 0;
  }

  .trends-card:nth-child(n + 3) {
    margin-top: 0;
  }

  .trends-card:not(:first-child) {
    margin-top: 3px;
  }

  .card-title-link {
    font-size: 16px;
  }

  .main-container {
    flex-direction: column;
    margin-top: 43px;
    margin-bottom: 29px;
  }

  .news-article {
    flex-direction: column;
  }

  .news-article:nth-child(n + 2) {
    margin-top: 34px;
  }

  .news-img-link {
    max-width: 100%;
  }

  .news-title {
    margin-top: 0px;
  }

  .news-inf {
    margin-bottom: 15px;
    margin-top: 8px;
  }

  .news-description {
    margin-left: 0;
    margin-top: 6px;
    max-width: 100%;
    padding-bottom: 23px;
    border-bottom: 3px solid #eeeeee;
  }

  .news-content {
    font-size: 14px;
    line-height: 1.4;
  }

  .news-title-link {
    font-size: 15px;
  }

  .sidebar {
    margin-top: 70px;
    width: 100%;
  }

  .subscribe {
    margin-top: 41px;
  }

  .tags {
    margin-top: 36px;
  }

  .categories {
    margin-top: 6px;
  }

  .shop-card-container {
    flex-wrap: wrap;
  }

  .shop-img {
    /* height: 284px; */
    object-fit: cover;
  }

  .shop-title {
    margin-top: 23px;
  }

  .shop-card {
    max-width: 100%;
  }

  .shop-card:not(:first-child) {
    margin-top: 55px;
  }

  .socials {
    margin-bottom: 72px;
  }

  .social-list {
    padding: 19px 0;
  }

  .popup-form {
    box-sizing: content-box;
    width: 279px;
    padding: 29px 24px;
  }

  .popup-close {
    width: 28px;
    height: 28px;
    background-size: 28px;
    top: -35px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .container-center {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding-bottom: 211px;
    padding-top: 30px;
  }

  .header-top {
    justify-content: end;
  }

  .header-menu {
    display: none;
  }

  .header-logo {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .logo-mobile {
    margin: 171px auto 33px;
    display: block;
    max-width: 269px;
    height: 61px;
  }

  .header-intro {
    margin-top: 0;
    max-width: 277px;
    font-size: 24px;
    line-height: 36px;
  }

  .trends {
    margin-top: 40px;
  }

  .trends-header {
    font-size: 15px;
  }

  .trends-card-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .trends-card {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    height: 233px;
    max-width: calc((100% - 2px) / 2);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .trends-card:nth-child(n + 2) {
    margin-left: 0;
  }

  .trends-card:nth-child(n + 3) {
    margin-top: 3px;
  }

  .card-title-link {
    font-size: 16px;
  }

  .main-container {
    flex-direction: column;
    margin-top: 43px;
    margin-bottom: 29px;
  }

  .news-article {
    flex-direction: column;
  }

  .news-article:nth-child(n + 2) {
    margin-top: 34px;
  }

  .news-img-link {
    max-width: 100%;
  }

  .news-title {
    margin-top: 0px;
  }

  .news-inf {
    margin-bottom: 15px;
    margin-top: 8px;
  }

  .news-description {
    margin-left: 0;
    margin-top: 6px;
    max-width: 100%;
    padding-bottom: 23px;
    border-bottom: 3px solid #eeeeee;
  }

  .news-content {
    font-size: 14px;
    line-height: 1.4;
  }

  .news-title-link {
    font-size: 15px;
  }

  .sidebar {
    margin-top: 70px;
    width: 100%;
  }

  .subscribe {
    margin-top: 41px;
  }

  .tags {
    margin-top: 36px;
  }

  .categories {
    margin-top: 6px;
  }

  .shop-card-container {
    flex-wrap: wrap;
  }

  .shop-img {
    /* height: 284px; */
    object-fit: cover;
  }

  .shop-title {
    margin-top: 23px;
  }

  .shop-card {
    max-width: 100%;
  }

  .shop-card:not(:first-child) {
    margin-top: 55px;
  }

  .socials {
    margin-bottom: 72px;
  }

  .social-list {
    padding: 19px 0;
  }

  .popup-form {
    box-sizing: content-box;
    width: 279px;
    padding: 29px 24px;
  }

  .popup-close {
    width: 28px;
    height: 28px;
    background-size: 28px;
    top: -35px;
  }
}
